{% extends 'home/index.html' %}

{% block content %}

<div style="
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
width: 100%;
">
    <form method="post" class="mx-auto d-flex w-50" style="flex-direction: column;">
        <h1 class="text-mute h3 text-center text-uppercase">Parolni tiklash</h1>
        {% csrf_token %}
        {{ form }}
        <button type='submit' class="btn btn-primary mt-2">
            Reset password
        </button>
        <a href="{% url 'login' %}" class="btn btn-warning mt-2">Accountim mavjud?</a>
    </form>
</div>


{% endblock content %}