.chat {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  overflow: hidden;
}
.chat a {
  text-decoration: none;
  color: #333;
  display: block;
}
.chat a:hover {
  color: #333;
}
.chat_sidebar {
  width: 19%;
  height: 100vh;
  background-color: transparent;
  position: absolute;
  left: 0;
  padding-top: 51px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.chat_sidebar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  margin: 20px 0px;
}
.chat_sidebar-top span img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  background-color: rgba(0, 0, 0, 0.07);
  padding: 6px;
  cursor: pointer;
}
.chat_sidebar-top span {
  display: flex;
}
.chat_sidebar-top h1 {
  font-size: 22px;
  font-weight: bold;
}
.chat_sidebar-top-input {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0px 10px;
}
.chat_sidebar-top-input i {
  position: absolute;
  left: 19px;
  color: #666;
}
.chat_sidebar-top-input input {
  width: 100%;
  border-radius: 30px;
  outline: none;
  border: none;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 6px 0px 6px 29px;
  font-size: 14px;
}
.chat_sidebar-users {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0px 10px;
}
.chat_sidebar-users::-webkit-scrollbar {
  width: 4px;
}

/* Track */
.chat_sidebar-users::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.chat_sidebar-users::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
.chat_sidebar-users::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.chat_sidebar-users div img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}
.chat_sidebar-users div p {
  font-weight: 600;
  margin: 0;
  font-size: 13px;
}
.chat_sidebar-users div {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 15px;
  padding: 10px;
  border-radius: 10px;
  transition: 0.3s all ease;
}
.chat_sidebar-users div:hover {
  background-color: rgba(0, 0, 0, 0.06);
  cursor: pointer;
}
.chat_right {
  width: 23%;
  height: 100vh;
  position: absolute;
  right: 0;
  padding-top: 51px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}
.chat_right-top span img {
  width: 35px;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 7px;
  border-radius: 50%;
}
.chat_right-top > img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.chat_right-top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 30px;
}
.chat_right-top h2 {
  font-weight: 700;
  font-size: 16px;
  display: inline-block;
  margin-top: 10px;
  text-transform: capitalize;
}
.chat_right-top > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin-top: 20px;
}
.chat_right-top > div span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  color: #111;
  cursor: pointer;
  font-weight: 500;
}
.chat_center-top {
  width: 58%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 23px;
  position: fixed;
  left: 19%;
  top: 51px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
.chat_center-top div:first-child img {
  width: 38px;
  height: 38px;
  border-radius: 50%;
}
.chat_center-top div:last-child img {
  width: 35px;
  cursor: pointer;
  padding: 6px;
  border-radius: 50%;
  margin-right: 5px;
  transition: 0.4s transform ease;
}
.chat_center-top div:last-child img:hover {
  background-color: rgba(0, 0, 0, 0.06);
}
.chat_center-top div:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
}
.chat_center-top div h2 {
  font-size: 14px;
  margin: 0;
  margin-left: 10px;
  font-weight: 700;
  text-transform: capitalize;
}
.chat_center-top div:last-child {
  display: flex;
  width: 110px;
  justify-content: space-between;
  padding-right: 60px;
}
.chat_form {
  position: fixed;
  bottom: 5px;
  left: 19%;
  width: 58%;
  padding: 0px 10px;
  height: 60px;
  display: flex;
  align-items: center;
}
.chat_form input {
  width: 100%;
  border: none;
  background-color: rgba(0, 0, 0, 0.07);
  border-radius: 30px;
  padding: 5px 20px;
  outline: none;
  color: #444;
}
.chat_form button {
  border: none;
  position: absolute;
  right: 20px;
  cursor: pointer;
}
.chat_text {
  position: absolute;
  left: 19%;
  bottom: 60px;
  width: 58%;
  height: 60vh;
  overflow-y: scroll;
}
.chat_text::-webkit-scrollbar {
  width: 4px;
}

/* Track */
.chat_text::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.chat_text::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
.chat_text::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.chat_text h4 {
  font-size: 17px;
  display: block;
  width: 100%;
  padding: 10px;
  margin: 0;
}
.chat_text .sender {
  text-align: right;
}
.chat_text .receiver {
  text-align: left;
}
.chat_text span {
  background-color: rgb(1, 171, 103);
  display: inline-block;
  margin: 0;
  padding: 0;
  border-radius: 30px;
  margin: 2px 10px;
}
