.phone {
  display: none;
}
@media (min-width: 200px) and (max-width: 450px) {
  .phone {
    display: block;
  }
  .section_main {
    display: none;
  }
  .gurux {
    display: none;
  }
  .personalaty {
    display: none;
  }
  .person {
    display: none;
  }
  .live {
    display: none;
  }
  .home__phone__top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 5px 10px;
  }
  .section_middle_on {
    display: inline-block;
    width: 100%;
  }
  .post {
    display: none;
  }
  .middle {
    width: 100% !important;
  }
  .home__phone__top > div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .home__phone__top > div i {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    background-color: rgba(204, 204, 204, 0.4);
    border-radius: 50%;
    margin-right: 5px;
  }
  .home__phone__top h1 {
    color: #0866ff;
    font-weight: 700;
  }
}
