{% load static %}
<div class="chat_sidebar">
  <div class="chat_sidebar-top">
    <h1>Chats</h1>
    <span>
      <img src="{% static 'img/ellipsis.svg' %}" alt="" />
      <img src="{% static 'img/pen.svg' %}" alt="" />
    </span>
  </div>
  <div class="chat_sidebar-top-input">
    <i class="fa-solid fa-search"></i>
    <input type="text" placeholder="Search Messenger" />
  </div>
  <h1 id="currentID" style="display: none">{{ request.user.id }}</h1>
  <div class="chat_sidebar-users">
    {% for chat in chats %}
    {% for user in chat.users.all %}
    <a href="#" class="chat_user" data-group-id="{{ chat.id }}" data-user-id="{{ request.user.id }}">
      {% if is_sender %}
      {% if user != request.user %}
      <div id="sender" data-receiver-id="{{ user.id }}">
        <img src="{{ user.profile.avatar.url }}" alt="" id="chat_img" />
        <p id="chat_user" data-user-id="{{ request.user.id }}">
          {{ user.firstname }} {{ user.lastname }}
        </p>
      </div>
      {% endif %}
      {% endif %}
      {% if not is_sender %}
      {% if user != request.user %}
      <div id="sender" data-receiver-id="{{ user.id }}">
        <img src="{{ user.profile.avatar.url }}" alt="" id="chat_img" />
        <p id="chat_user" data-user-id="{{ request.user.id }}">
          {{ user.firstname }} {{ user.lastname }}
        </p>
      </div>
      {% endif %}
      {% endif %}
    </a>
    {% endfor %}
    {% endfor %}
  </div>
</div>

<script>
  $(document).ready(function () {
    function loadChats(group_id) {
      let chatId = $(this).data("chat-id");
      let currentUserID = $(".chat_user").data("user-id")
      let senderFullName = $(".sender_fullname")
      $.ajax({
        url: "/chat/get-chats/",
        type: "GET",
        data: {
          "group_id": group_id,
        },
        success: function (data) {
          data.data.sort((a, b) => {
            return (
              new Date(a.created_at) - new Date(b.created_at)
            );
          });
          senderFullName.text(`${data.sender_firstname} ${data.sender_lastname}`)
          $("#chat_profile").attr("src", data.sender_profile_avatar)
          $("#profile_url").attr("href", `/home/profile/${data.sender_unique_id}`)
          let a = document.querySelectorAll("#chat_profile")
          a.forEach((z) => {
            z.src = data.sender_profile_avatar
          })
          var chatContainer = $(".chat_text");
          chatContainer.empty(); // Clear existing chats
          data.data.forEach((content) => {
            let chatHtml;
            if (content.sender_id === parseInt(currentUserID)) {
              chatHtml = `
                <div class='sender'>
                  <span>
                    <h4>${content.text}</h4>
                  </span>
                </div>
              `
            } else {
              chatHtml = `
                <div class='receiver'>
                  <span>
                    <h4>${content.text}</h4>
                  </span>
                </div>
              `
            }
            $(".chat_text").append(chatHtml)
          })
        },
        error: function (xhr, status, error) {
          console.error(xhr.responseText);
        },
      });
    }

    function updateUrlAndFetchChats(group_id) {
      var newUrl = window.location.origin + window.location.pathname + '?group_id=' + group_id;
      history.pushState({}, '', newUrl);
      loadChats(group_id);

      urlParams = new URLSearchParams(window.location.search);
    }

    var urlParams = new URLSearchParams(window.location.search);
    var initialGroupId = urlParams.get('group_id');
    if (initialGroupId) {
      updateUrlAndFetchChats(initialGroupId);
    }

    $('.chat_user').on('click', function (event) {
      event.preventDefault();
      let id = $(this).children("#sender").data("receiver-id")
      let ids = $('#receiverId').val(id);
      var clickedGroupId = $(this).data('group-id');
      console.log(clickedGroupId)
      updateUrlAndFetchChats(clickedGroupId);
    });
    
    
    setInterval(function () {
      var currentGroupId = urlParams.get('group_id');
      if (currentGroupId) {
        loadChats(parseInt(currentGroupId));
      }
    }, 10000);
  });
</script>


<!-- text: sender -- 1  ------ receiver -- 2 -->

<!-- if sender_id == sender val(receiver) -->