{% load static %}
<div class="chat_right">
    <div class="chat_right-top">
        <img id="chat_profile" src="{{ request.user.profile.avatar.url }}" alt="No image">
        <h2 class="sender_fullname">
            {{ request.user.firstname }}
            {{ request.user.lastname }}
        </h2>
        <div>
            <a href="#" id="profile_url">
                <span>
                    <img src="{% static 'img/user2.svg' %}" alt="">
                    Profile
                </span>
            </a>
            <a href="#">
                <span>
                    <img src="{% static 'img/phone/bell.svg' %}" alt="">
                    Mute
                </span>
            </a>
            <a href="#">
                <span>
                    <img src="{% static 'img/search.svg' %}" alt="">
                    Search
                </span>
            </a>
        </div>
    </div>
</div>