{% load static %}
<div class="chat_sidebar">
  <div class="chat_sidebar-top">
    <h1>Chats</h1>
    <span>
      <img src="{% static 'img/ellipsis.svg' %}" alt="" />
      <img src="{% static 'img/pen.svg' %}" alt="" />
    </span>
  </div>
  <div class="chat_sidebar-top-input">
    <i class="fa-solid fa-search"></i>
    <input type="text" placeholder="Search Messenger" />
  </div>
  <h1 id="currentID" style="display: none">{{ request.user.id }}</h1>
  {% for is_sender, chat in chats %}
  <a href="#" class="chat_user" data-chat-id="{{ chat.id }}">
    <div class="chat_sidebar-users">
      {% if is_sender %}
      <div>
        <img
          src="{{ chat.receiver.profile.avatar.url }}"
          alt=""
          id="chat_img"
        />
        <p id="chat_user">
          {{ chat.receiver.firstname }} {{ chat.receiver.lastname }}
        </p>
      </div>
      {% else %}
      <div>
        <img src="{{ chat.sender.profile.avatar.url }}" alt="" id="chat_img" />
        <p id="chat_user" data-user-id="{{ request.user.id }}">
          {{ chat.sender.firstname }} {{ chat.receiver.lastname }}
        </p>
      </div>
      {% endif %}
    </div>
  </a>
  {% endfor %}
</div>

<script>
  $(document).ready(function () {
    function loadChats() {
      let chatId = $(this).data("chat-id");
      let currentUserID = $("#currentID").text();
      $.ajax({
        url: "/chat/get-chats/",
        type: "GET",
        success: function (data) {
          var chats = JSON.parse(data.data);
          chats.sort((a, b) => {
            return (
              new Date(a.fields.created_at) - new Date(b.fields.created_at)
            );
          });
          var chatContainer = $(".chat_text");
          chatContainer.empty(); // Clear existing chats
          chats.forEach(function (chat) {
            let sender = chat.fields.sender;
            let sender_id = $("#chat_user").data("user-id")
            console.log(data.data);
            var receiverID = $("#receiverId").val(sender);
            var chatHtml;
            if (chat.fields.sender === parseInt(currentUserID)) {
              // If the sender is the current user
              chatHtml = `
                            <div class="sender">
                                <span>
                                    <h4>${chat.fields.text}</h4>
                                </span>
                            </div>`;
            } else {
              // If the sender is the other user
              chatHtml = `
                            <div class="receiver">
                                <span>
                                    <h4>${chat.fields.text}</h4>
                                </span>
                            </div>`;
            }
            chatContainer.append(chatHtml);
          });
        },
        error: function (xhr, status, error) {
          console.error(xhr.responseText);
        },
      });
    }

    loadChats();

    setInterval(loadChats, 7000);

    $(".chat_user").click((e) => {
      e.preventDefault();
      loadChats();
    });
  });
</script>


<!-- text: sender -- 1  ------ receiver -- 2 -->

<!-- if sender_id == sender val(receiver) -->