{% load static %}
<div class="chat_sidebar">
    <div class="chat_sidebar-top">
        <h1>Chats</h1>
        <span>
            <img src="{% static 'img/ellipsis.svg' %}" alt="">
            <img src="{% static 'img/pen.svg' %}" alt="">
        </span>
    </div>
    <div class="chat_sidebar-top-input">
        <i class="fa-solid fa-search"></i>
        <input type="text" placeholder="Search Messenger">
    </div>
    <a href="#">
        <div class="chat_sidebar-users">
            <div>
                <img src="{{ request.user.profile.avatar.url }}" alt="">
                <p>{{ request.user.firstname }} {{ request.user.lastname }}</p>
            </div>
        </div>
    </a>
</div>