{% extends 'chat/base_chat.html' %}
{% load static %}
{% block chat %}
<div class="chat_center-top">
    <div>
        <img id="chat_profile" src="{{ request.user.profile.avatar.url }}" alt="">
        <h2 class="sender_fullname">
            {{ request.user.firstname }}
            {{ request.user.lastname }}
        </h2>
    </div>
    <div>
        <img src="{% static 'img/phone.svg' %}" alt="No image">
        <img src="{% static 'img/video.svg' %}" alt="No image">
        <img src="{% static 'img/info.svg' %}" alt="No image">
    </div>
</div>
{% include 'chat/chat_text.html' %}
<form method="post" class="chat_form" id="messageForm">
    {% csrf_token %}
    <input type="hidden" id="receiverId" value="receiver_id_here">
    <input type="text" placeholder="Aa" id="messageText">
    <button type="submit">
        ✈️
    </button>
</form>
{% include 'includes/chat_right.html' %}
<script>
    $(document).ready(function () {
        $('#messageForm').submit(function (event) {
            event.preventDefault();
            var messageText = $('#messageText').val();
            var receiverId = $('#receiverId').val();
            var csrfToken = $('input[name=csrfmiddlewaretoken]').val();
            $.ajax({
                url: '/chat/send-message/', // Change the URL to your endpoint for sending messages
                type: 'POST',
                headers: {
                    'X-CSRFToken': csrfToken
                },
                data: {
                    receiver_id: receiverId,
                    text: messageText
                },
                success: function (response) {
                    $('#messageText').val('');
                    let chatId = $(this).data('chat-id');
                    let currentUserID = $("#currentID").text()
                    let chatHtml;
                    chatHtml = `
                        <div class='sender'>
                        <span>
                            <h4>${messageText}</h4>
                        </span>
                        </div>
                    `
                    $(".chat_text").append(chatHtml)
                },
                error: function (xhr, status, error) {
                    // Handle error response, e.g., show an error message
                    alert('Error sending message!');
                    console.error(xhr.responseText);
                }
            });
        });
    });

</script>
{% endblock %}